.hero-image {
  width: 31px;
  height: 31px;
  margin-right: 1px;
  /* Adjusted margin between sprites */
  background-image: url('../public/minimap_hero_sheet.png');
  background-size: 512px 512px;
  /* Size of the original sprite sheet */
  background-repeat: no-repeat;
}

/* Define positions for each hero sprite */
.hero-image.hero-axe {
  background-position: 0 0;
}

.hero-image.hero-anti-mage {
  background-position: -32px 0;
}

.hero-image.hero-crystal-maiden {
  background-position: -64px 0;
}

.hero-image.hero-ancient-apparition {
  background-position: -96px 0;
}

.hero-image.hero-batrider {
  background-position: -128px 0;
}

.hero-image.hero-beastmaster {
  background-position: -160px 0;
}

.hero-image.hero-bloodseeker {
  background-position: -192px 0;
}

.hero-image.hero-bounty-hunter {
  background-position: -224px 0;
}

.hero-image.hero-broodmother {
  background-position: -256px 0;
}

.hero-image.hero-chen {
  background-position: -288px 0;
}

.hero-image.hero-dark-seer {
  background-position: -320px 0;
}

.hero-image.hero-dazzle {
  background-position: -352px 0;
}

.hero-image.hero-death-prophet {
  background-position: -384px 0;
}

.hero-image.hero-doom {
  background-position: -416px 0;
}

.hero-image.hero-dragon-knight {
  background-position: -448px 0;
}

.hero-image.hero-alchemist {
  background-position: -480px 0;
}

.hero-image.hero-drow-ranger {
  background-position: 0 -31px;
}

.hero-image.hero-earthshaker {
  background-position: -32px -31px;
}

.hero-image.hero-enchantress {
  background-position: -64px -31px;
}

.hero-image.hero-enigma {
  background-position: -96px -31px;
}

.hero-image.hero-faceless-void {
  background-position: -128px -31px;
}

.hero-image.hero-natures-prophet {
  background-position: -160px -32px;
}

.hero-image.hero-huskar {
  background-position: -192px -32px;
}

.hero-image.hero-juggernaut {
  background-position: -224px -32px;
}

.hero-image.hero-kunkka {
  background-position: -256px -31px;
}

.hero-image.hero-leshrac {
  background-position: -288px -31px;
}

.hero-image.hero-lich {
  background-position: -320px -32px;
}

.hero-image.hero-lifestealer {
  background-position: -352px -32px;
}

.hero-image.hero-lina {
  background-position: -384px -32px;
}

.hero-image.hero-lion {
  background-position: -416px -33px;
}

.hero-image.hero-mirana {
  background-position: -448px -32px;
}

.hero-image.hero-morphling {
  background-position: -480px -32px;
}

.hero-image.hero-necrophos {
  background-position: 0 -62px;
}

.hero-image.hero-shadow-fiend {
  background-position: -33px -63px;
}

.hero-image.hero-night-stalker {
  background-position: -64px -63px;
}

.hero-image.hero-omniknight {
  background-position: -96px -62px;
}

.hero-image.hero-puck {
  background-position: -127px -62px;
}

.hero-image.hero-pudge {
  background-position: -159px -63px;
}

.hero-image.hero-pugna {
  background-position: -192px -63px;
}

.hero-image.hero-queen-of-pain {
  background-position: -225px -63px;
}

.hero-image.hero-clockwerk {
  background-position: -256px -64px;
}

.hero-image.hero-razor {
  background-position: -289px -63px;
}

.hero-image.hero-riki {
  background-position: -320px -63px;
}

.hero-image.hero-sand-king {
  background-position: -354px -63px;
}

.hero-image.hero-shadow-shaman {
  background-position: -385px -64px;
}

.hero-image.hero-silencer {
  background-position: -419px -63px;
}

.hero-image.hero-wraith-king {
  background-position: -448px -63px;
}

.hero-image.hero-slardar {
  background-position: -480px -63px;
}

.hero-image.hero-sniper {
  background-position: 0 -96px;
}

.hero-image.hero-spectre {
  background-position: -32px -97px;
}

.hero-image.hero-spirit-breaker {
  background-position: -64px -95px;
}

.hero-image.hero-storm-spirit {
  background-position: -96px -97px;
}

.hero-image.hero-sven {
  background-position: -128px -95px;
}

.hero-image.hero-tidehunter {
  background-position: -160px -95px;
}

.hero-image.hero-tinker {
  background-position: -192px -95px;
}

.hero-image.hero-tiny {
  background-position: -224px -97px;
}

.hero-image.hero-jakiro {
  background-position: -256px -95px;
}

.hero-image.hero-ursa {
  background-position: -288px -96px;
}

.hero-image.hero-vengeful-spirit {
  background-position: -320px -96px;
}

.hero-image.hero-venomancer {
  background-position: -352px -98px;
}

.hero-image.hero-viper {
  background-position: -384px -96px;
}

.hero-image.hero-warlock {
  background-position: -416px -95px;
}

.hero-image.hero-weaver {
  background-position: -448px -96px;
}

.hero-image.hero-windranger {
  background-position: -480px -96px;
}

.hero-image.hero-witch-doctor {
  background-position: 0 -128px;
}

.hero-image.hero-zeus {
  background-position: -32px -127px;
}

.hero-image.hero-invoker {
  background-position: -64px -128px;
}

.hero-image.hero-clinkz {
  background-position: -96px -128px;
}

.hero-image.hero-outworld-destroyer {
  background-position: -128px -126px;
}

.hero-image.hero-bane {
  background-position: -160px -128px;
}

.hero-image.hero-shadow-demon {
  background-position: -192px -127px;
}

.hero-image.hero-lycan {
  background-position: -224px -128px;
}

.hero-image.hero-lone-druid {
  background-position: -256px -127px;
}

.hero-image.hero-brewmaster {
  background-position: -288px -129px;
}

/* Skipping over 3 sprites */

.hero-image.hero-phantom-lancer {
  background-position: -416px -127px;
}

.hero-image.hero-chaos-knight {
  background-position: -448px -129px;
}

.hero-image.hero-phantom-assassin {
  background-position: -480px -128px;
}

.hero-image.hero-treant-protector {
  background-position: 0 -159px;
}

.hero-image.hero-luna {
  background-position: -32px -160px;
}

.hero-image.hero-ogre-magi {
  background-position: -64px -161px;
}

.hero-image.hero-gyrocopter {
  background-position: -96px -160px;
}

.hero-image.hero-rubick {
  background-position: -128px -160px;
}

.hero-image.hero-io {
  background-position: -160px -159px;
}

.hero-image.hero-disruptor {
  background-position: -192px -160px;
}

.hero-image.hero-undying {
  background-position: -224px -160px;
}

.hero-image.hero-naga-siren {
  background-position: -256px -160px;
}

.hero-image.hero-templar-assassin {
  background-position: -288px -160px;
}

.hero-image.hero-nyx-assassin {
  background-position: -320px -160px;
}

.hero-image.hero-keeper-of-the-light {
  background-position: -352px -160px;
}

.hero-image.hero-visage {
  background-position: -384px -160px;
}

.hero-image.hero-magnus {
  background-position: -416px -160px;
}

.hero-image.hero-meepo {
  background-position: -448px -160px;
}

.hero-image.hero-centaur-warrunner {
  background-position: -480px -160px;
}

.hero-image.hero-slark {
  background-position: 0 -192px;
}

.hero-image.hero-medusa {
  background-position: -32px -191px;
}

.hero-image.hero-timbersaw {
  background-position: -64px -192px;
}

.hero-image.hero-troll-warlord {
  background-position: -96px -192px;
}

.hero-image.hero-tusk {
  background-position: -128px -192px;
}

.hero-image.hero-bristleback {
  background-position: -160px -192px;
}

.hero-image.hero-skywrath-mage {
  background-position: -192px -192px;
}

.hero-image.hero-elder-titan {
  background-position: -224px -193px;
}

.hero-image.hero-abaddon {
  background-position: -256px -192px;
}

.hero-image.hero-ember-spirit {
  background-position: -288px -193px;
}

.hero-image.hero-legion-commander {
  background-position: -320px -192px;
}

.hero-image.hero-earth-spirit {
  background-position: -352px -192px;
}

.hero-image.hero-terrorblade {
  background-position: -384px -192px;
}

.hero-image.hero-phoenix {
  background-position: -416px -192px;
}

.hero-image.hero-techies {
  background-position: -448px -193px;
}

.hero-image.hero-winter-wyvern {
  background-position: -480px -191px;
}

.hero-image.hero-underlord {
  background-position: 0 -224px;
}

.hero-image.hero-monkey-king {
  background-position: -32px -224px;
}

.hero-image.hero-oracle {
  background-position: -64px -224px;
}

.hero-image.hero-arc-warden {
  background-position: -96px -224px;
}

/* Skip one sprite */

.hero-image.hero-pangolier {
  background-position: -160px -224px;
}

.hero-image.hero-dark-willow {
  background-position: 0 -256px;
}

.hero-image.hero-grimstroke {
  background-position: -96px -256px;
}

.hero-image.hero-mars {
  background-position: -160px -257px;
}

.hero-image.hero-snapfire {
  background-position: -288px -256px;
}

.hero-image.hero-void-spirit {
  background-position: -320px -256px;
}

.hero-image.hero-hoodwink {
  background-position: -128px -288px;
}

.hero-image.hero-dawnbreaker {
  background-position: -160px -288px;
}

.hero-image.hero-primal-beast {
<<<<<<< HEAD
  background-position: -194px -289px;
}

.hero-image.hero-ringmaster {
  background-position: -228px -290px;
=======
  background-position: -194px -290px;
>>>>>>> a456031f12d0cf475574acfd18f6da815b4e34f4
}

.custom-loading-gif {
  width: 100px;
  /* Adjust as necessary */
  height: 100px;
  /* Adjust as necessary */
  background-image: url('../public/loading.gif');
  background-size: contain;
  background-repeat: no-repeat;
}